/** Some components and styles are inspired by Google's Material Design **/

body, html {
    height: 100%;
}
body {
    font-family: 'Roboto', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background: rgb(244, 245, 246);
    background: rgba(244, 245, 246, 1);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Roboto' ,'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; */
    margin: 0;
    padding: 0;
    color: #444;
}

h1 {
    font-size: 34px;
    font-weight: 500;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

/** General **/

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    height: 64px;
    padding: 0 40px;
}

.main {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.main-subpage {
    padding-top: 8rem;
}

.main a,
.main a:link,
.main a:visited {
    text-decoration: none;
    color: #458AFF;
}

.main-title {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.main-title::-moz-selection {
    background-color: #03A9f4;
}

.main-title::selection {
    background-color: #03A9f4;
}

/** Nav **/

.link {
    font-family: 'Lato', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 96px;
    display: inline-block;
    padding-left: 2.5rem;
    height: 100%;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: rgba(255, 255, 255, 0.6);
}

.nav {
    position: fixed;
    width: 100%;
    min-height: 4rem;
    background-color: #FC615C;
    /*background-color: #3F51B5;*/
}

.masthead {
    height: 96px;
}

.nav a:link,
.nav a:visited {
    text-decoration: none;
}

.active {
    color: #fff;
}

.menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    float: right;
    width: 400px;
    height: 100%;
    margin: 0;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            -webkit-box-pack: end;
            justify-content: flex-end;
}

.nav-header {
    display: inline-block;
    line-height: 96px;
}

.logo {
    font-size: 18px;
    display: inline-block;
    padding: 15px 0;
}

/** Hero **/

.header {
    /*height: 100%;*/
    background-color: #FC615C;
}

.hero {
    padding-top: 10rem;
    padding-bottom: 4em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.hero img {
    width: 45%;
    height: 45%;
    padding-bottom: 3rem;
}

.intro h1 {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

/** Main section **/

.main .wrapper {
    padding-top: 32px;
}

.card-container {
    max-width: 1200px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            -webkit-box-align: stretch;
            align-items: stretch;
}

.card {
    display: block;
    min-width: calc(100%/4 - 1rem);
    margin: 0.5rem;
    background: #fff;
    border-radius: 2px;
    box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.width_third {
    width: calc(100%/3 - 1rem);
}

.width_two-thirds {
    width: calc(100%/1.5 - 1rem);
}

.width_quarter {
    width: calc(100%/4 - 1rem);
}

.width_half {
    width: calc(100%/2 - 1rem);
}

.width_full {
    width: calc(100% - 1rem);
}

.true-card {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.card-text {
    line-height: 1.5;
    padding: 1.5rem;
}

.card-text p {
    display: inline-block;
}

.card-links {
    margin-right: 0;
    margin-left: 0;
    font-size: 1rem;
    border-top: 1px solid rgba(160,160,160,0.2);
}

.card-img {
    width: 100%;
}

.name {
    font-size: inherit;
    font-weight: 400;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

/* Footer */

footer {
    background: #303340;
    color: #f4f4f4;
    display: block;
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
}
