/** Some components and styles are inspired by Google's Material Design **/

body,
html {
    min-height: 100%;
    height: 100%;
}
body {
    font-family: 'Roboto', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    color: #333;
    background: rgb(244, 245, 246);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Roboto' ,'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; */
    margin: 0;
    padding: 0;
    color: #444;
}

h1 {
    font-size: 34px;
    font-weight: 500;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

h5 {
    font-size: 20px;
    font-weight: 500;
}

h6 {
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 16px;
    line-height: 1.5em;
    text-transform: none;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}
/** General **/

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    height: 64px;
    padding: 0 40px;
}

.main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.main-subpage {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6.5rem;
    line-height: 1.75;
    text-align: center;
}

.main-subpage img {
    display: block;
    max-width: 40%;
    height: auto;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.main-subpage section {
    padding-bottom: 2rem;
}

.main-subpage div[class="width_half"] {
    text-align: center;
    vertical-align: top;
}

.main-subpage  section  h1 {
    padding-bottom: 0.5rem;
}

.main-subpage  section  h1:first-child {
    font-size: 32pt;
}

.main-subpage ul {
    text-align: left;
    list-style: none;
    -webkit-padding-start: 0;
}

.main-subpage h3, h4 {
    font-weight: 300;
}

.main-subpage
.width_third,
.width_half,
.width_full,
.width_quarter,
.width_two-thirds {
    display: inline-block;
    margin: 0.5rem;
    text-align: left;
}

.card a,
.card a:link,
.card a:visited {
    text-decoration: none;
    color: #458AFF;
}

.resume {
    text-align: center;
    margin-top: 1.5rem;
}

.resume a {
    margin: 0 2rem;
}

.btn {
    text-decoration: none;
    background: #1565C0;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 2px;
    box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.25s;
}

.btn:hover {
    background: #458AFF;
}

.main-title {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.main-title::-moz-selection {
    background-color: #03A9f4;
}

.main-title::selection {
    background-color: #03A9f4;
}

/** Nav **/

.link {
    font-family: 'Lato', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 96px;
    display: inline-block;
    padding-left: 2.5rem;
    height: 100%;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: rgba(255, 255, 255, 0.6);
}

.nav {
    position: fixed;
    width: 100%;
    min-height: 4rem;
    background-color: #FC615C;
    z-index: 9999;
}

.masthead {
    height: 96px;
}

.nav a:link,
.nav a:visited {
    text-decoration: none;
}

.active {
    color: #fff;
}

.menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    float: right;
    width: 400px;
    height: 100%;
    margin: 0;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            -webkit-box-pack: end;
            justify-content: flex-end;
}

.nav-header {
    display: inline-block;
    line-height: 96px;
}

.logo {
    font-size: 18px;
    display: inline-block;
    padding: 15px 0;
}

/** Hero **/

.header {
    height: 100%;
    background-color: #FC615C;
}

.hero {
    padding-top: 8rem;
    padding-bottom: 4em;
}

.hero-illustration {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    padding: 4rem 0;
}

.arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -20px;
    width: 2%;
    height: 2%;
}

.intro h1 {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: 1.75;
}

/** Main section **/

.main .wrapper {
    padding-top: 32px;
}

.card-container {
    max-width: 1200px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            -webkit-box-align: stretch;
            align-items: stretch;
}

.card {
    display: block;
    min-width: calc(100%/4 - 1.5rem);
    margin: 0.75rem;
    background: #fff;
    border-radius: 2px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card:hover {
	box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16),
	0 2px 10px 0 rgba(0,0,0,0.12),
	0 2px 20px 0 rgba(0,0,0,0.16),
	0 2px 30px 0 rgba(0,0,0,0.12);
}

.width_third {
    width: calc(100%/3 - 1.5rem);
}

.width_two-thirds {
    width: calc(100%/1.5 - 1.5rem);
}

.width_quarter {
    width: calc(100%/4 - 1.5rem);
}

.width_half {
    width: calc(100%/2 - 1.5rem);
}

.width_full {
    width: calc(100% - 1.5rem);
}

.true-card {
    max-width: 625px;
    margin-right: auto;
    margin-left: auto;
}

.card-text {
    line-height: 1.5;
    padding: 1.5rem;
}

.card-text h4 {
    font-weight: 300;
}

.card-text p {
    display: inline-block;
}

.card-links {
    min-height: 76px;
    margin-right: 0;
    margin-left: 0;
    font-size: 1rem;
    border-top: 1px solid rgba(160,160,160,0.2);
}

.card-img {
    /*position: relative;*/
}

.card-img img {
    display: block;
    border-radius: 2px 2px 0 0;
    /*position: relative;*/
    width: 100%;
    border: 0;
}

.name {
    font-size: inherit;
    font-weight: 400;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

/* Footer */

/*footer {
    position: relative;
    background: #303340;
    color: #f4f4f4;
    display: block;
    width: 100%;
    text-align: center;
}*/

.footer {
    color: #f1f1f1;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #333333;
}

.footer-text {
    font-size: 14px;
    font-weight: 300;
}

.footer-copyright {
    margin-top: 20px;
    background-color: #3d3d3d;
    height: 64px;
    line-height: 64px;
}

.footer-copyright div {
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.social {
    display: inline-block;
    float: right;
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;
    vertical-align: top;
}

.social-link {
    padding-right: 2rem;
}

.social-link:last-child {
    padding: 0;
}

.social-link:link, .social-link:visited {
    color: #f1f1f1;
    text-decoration: none;
}
