/** Components and styles are inspired by Google's Material Design **/

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background: rgb(244, 245, 246);
    background: rgba(244, 245, 246, 1);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 34px;
    font-weight: 500;
    color: #666;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    color: #666;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    color: #666;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    color: #666;
}

.main a,
.main a:link,
.main a:visited {
    text-decoration: none;
    color: #458AFF;
}

.main-title {
    font-size: 34px;
    font-weight: 400;
    color: #fff;
}

.main-title::selection {
    background-color: #03A9f4;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    height: 64px;
    padding: 0 40px;
}

.link {
    font-size: 14px;
    font-weight: 500;
    line-height: 64px;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.nav {
    width: 100%;
    min-height: 64px;
    max-height: 1000px;
    background: #F44336;
}

.nav a:link,
.nav a:visited {
    text-decoration: none;
    color: #f4f4f4;
}

.menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    margin: 0;
    background: #D32F2F;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.menu span {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.active {
    border-bottom: 5px solid #03A9f4;
}

.logo {
    font-size: 18px;
    display: inline-block;
    padding: 15px 0;
}

.main .wrapper {
    padding-top: 32px;
}

.card-container {
    max-width: 1200px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    display: block;
    min-width: 25%;
    max-width: 80%;
    margin: 24px auto;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 1);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-text {
    margin: 32px;
}

.card-links {
    margin-right: 2em;
    margin-left: 2em;
    padding-top: 2em;
    border-top: 1px solid rgba(160,160,160,0.2);
}

.card-img {
    width: 800px;
}

.name {
    /*float: right;*/
    font-size: inherit;
    font-weight: 400;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}
