@media screen and (max-width: 480px) {

	.wrapper {
		width: 359px;
		margin: 0;
	}

	.masthead {
		margin-right: 0;
	}

	.header {
		height: auto;
	}

	.intro h1 {
		font-size: 20px;
	}

	.nav {
		max-width: 100%;
	}

	.nav-header {
		display: none;
	}

	.menu {
		width: 375px;
		display: block;
		text-align: center;
	}

	.link {
		padding: 0 1rem;
	}

	.card-container {
		margin: 0 0.5rem;
	}

	.footer {
		text-align: center;
	}

	.footer-copyright > * {
		margin: 0 1rem;
	}

	.footer .width_half, .social {
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.social {
		font-size: 1.5rem;
		display: block;
		clear: both;
		float: none;
	}

	.social-link {
		display: inline;
		padding-right: 2rem;
	}

}
